@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.container-fluid {
  margin-left: 7rem;
  margin-right: 7em;
}

.header {
  background-color: #003B95;
  height: 60vh;
}

.booking-link a {
  margin-right: 0.5rem;
}

.inactive-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

.active-button {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
}

.active-button:hover {
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.1);
}

.inactive-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav .nav-item:not(:last-child) button {
  margin-right: 0.5rem;
}

.no-wrap {
  white-space: nowrap;
}

.find-stay {
  margin-top: 50px;
  color: #fff;
}

.offer-background {
  background-image: url('../public/images/newAdv.png');
  height: 30vh;
  width: 83%;
  margin-left: 7rem;
  padding-left: 3rem;
  padding-top: 2rem;
  background-size: cover;
  color: white;
}

.active-dest {
  border: 1px solid blue;
  background-color: #fff;
  color: blue;
}

.active-dest:hover {
  border: 1px solid blue;
  background-color: #fff;
  color: blue;
}

.save-time {
  background-color: #003B95;
  height: 30vh;
  color: #fff;
  padding-top: 5vh;
}

.listing {
  background-color: blue;
  height: 15vh;
}

.mobile-links li a {
  font-size: 0.7em;
}

.foot-links:hover {
  color: maroon;
}

.book-hold {
  font-size: 0.8em;
  color: #686666;
}

.copyright {
  font-size: 0.7em;
}